body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 15px;
    box-shadow: 0px 2px 15px rgba(00, 00, 00, 0.25);
}

.Logo{
    position: relative;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.button{
    padding: 10px;
    width: 250px;
    font-weight: 800;
    color: #ffffff;
    background-color: #028db4;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    border: none;
    margin-left: 720px;
    box-shadow: 0px 2px 4px rgba(00, 00, 00, 0.25);
    transition: all 0.2s;
}
.button:hover{
    background-color: #00799B;
    color: #ffffff;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.button2{
    position: relative;
    padding: 10px;
    width: 250px;
    font-weight: 800;
    color: #028db4;
    background-color: transparent;
    border: solid 3px #028db4;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: -45px;


    transition: all 0.3s;
}
.button2:hover{
    color: #015f79;
    font-weight: 900;
    border: solid 3px #00799B;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.para{
    position: absolute;
    top: 275px;
    width: 1200px;
    left: 120px;
    font-family: poppins;
    font-size: 17px;
    text-align: justify;
}
.CC{
    position: relative;
    font-family: figno;
    color: #00799B;
    padding: auto;
    font-size: 25px;
    cursor: pointer;
    width: fit-content;
}

.footer{
    position: absolute;
    top: 710px;
    margin-left: 75px;
    font-size: 10px;
    font-family: poppins;
    color: #048dbb;
}
.footers{
    cursor: pointer;
    color: #048dbb;
    font-size: 12px;
    transition: all 0.3s;
}
.footers:hover{
    color: #006789;
}